.well {
  background-color: #34495e !important;
}

.index_title {
  color: darkgrey;

  &:hover {
    color: white;
  }
}

.index_copy, .show_copy, .new_title, .edit_title {
  color: white;
}

.navbar-default {
  background-color: #34495e !important;
  border-radius: 0 !important;
}

.navbar-brand {
  color: white !important;
}
